
:root {
    --ultramarine-blue:rgba(135, 100, 255, .9) !important;
    --green: #063;
    --cultured-1: hsl(0, 0%, 96%);
    --cultured-2: hsl(0, 0%, 93%);
    --white: hsl(0, 0%, 100%);
  
  
    --fs-1: 4rem;
    --fs-2: 3.2rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.4rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    /**
     * spacing
     */
  
    --section-padding: 45px;
  
    /**
     * box shadow
     */
  
    --shadow-1: 0 8px 20px hsla(0, 0%, 0%, 0.06);
    --shadow-2: 0px 4px 10px hsla(0, 0%, 0%, 0.05);
  
    /**
     * border radius
     */
  
    --radius-4: 4px;
    --radius-6: 6px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: var(--cultured-1);  */
    padding: 0 10px;
}

.error-text {
    color: var(--white); /* Updated text color */
    padding: 10px 10px;
    text-align: center;

    border-radius: var(--radius-4); /* Updated border radius */
    background: var(--ultramarine-blue); /* Updated background color */
    border: 1px solid var(--cultured-2); /* Updated border color */
    margin-bottom: 20px;
    display: none;
}


.error-text{
    color: #fff;
    /* color: var(--ultramarine-blue); */
    padding: 10px 10px;
    text-align: center;
    border-radius: 15px;
    background: var(--ultramarine-blue);
    border: 1px solid #f5c6cb;
    margin-bottom: 20px;
    display: none;
  }

#login {
    display: flex;
    align-items: center;
}

#login #formLogin {

    margin: auto;
    width: 400px;
    /* height: 700px; */
    padding: 100px 50px;
}

#login #formLogin h1,
h2 {
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    margin-bottom: 8px;
}


#login #formLogin .inputContainer {
    position: relative;
    height: 48px;
    margin-bottom: 30px;
}

#login #formLogin .inputContainer .inputLogin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 1px solid #adb5bd;
    outline: none;
    background: none;
    padding: 16px;
    z-index: 1;
}
#login #formLogin .inputContainer .labelLogin {
    position: absolute;
    left: 16px;
    top: 10px;
    padding: 0px 5px;
    background-color: white;
    color: #adb5bd;
    font-size: 16px;
    transition: 0.3s;
}
input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
}
input {
    outline: none !important;
}

#login #formLogin .submitButton {
    display: block;
    margin: auto;
    padding: 10px 30px;
    outline: none;
    border: none;
    background-color: var(--ultramarine-blue);
    color: var(--raisin-black-2);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#login #formLogin .register {
    margin: auto;
    text-align: center;
    padding-top: 7px;
    color: var(--ultramarine-blue);
}


#login #formLogin .register .breaker {
    color: #000 !important;
}

.links {
    text-decoration: none;
    color: var(--ultramarine-blue);
}
.links:hover{
    color: var(--green);
}

#login #formLogin .submitButton{
    font-weight: bold;
    color: #fff;
}
#login #formLogin .submitButton:hover {
    border-radius: 5px;
    font-weight: normal;
    background-color: var(--green);
}

#login #formLogin .inputLogin:focus+.labelLogin {
    top: -10px;
    font-size: 13px;
    font-weight: bold;
    color: var(--ultramarine-blue);
    z-index: 2;
}

#login #formLogin .inputLogin:not(:placeholder-shown).inputLogin:not(:focus)+.labelLogin {
    top: -10px;
    font-size: 13px;
    z-index: 2;
}

#login #formLogin .inputLogin:focus {
    border: 1px solid var(--ultramarine-blue);
}


.inputContainer textarea.inputLogin {
    height: auto; /* Let height be determined by content */
    min-height: 120px; /* Set a minimum height */
    padding: 16px; /* Match padding with other inputs */
}


#formLogin {
    position: relative; /* Set position to relative */
}

#contactForm .submitButton {
    position: absolute; /* Set position to absolute */
    bottom: -6px; /* Align the button at the bottom */
    width: 75%;
}





